# PyCity Schools Analysis

- My overall analysis is that schools that are smaller, do much better than larger schools. The smaller schools
are Charter schools with a smaller budget per student, but are schools that are doing better academically.
Students overall do better when testing for reading than for math.

-The overall percent passing for Charter schools 91% were much higher than the overall percent passing for District schools at 54%.

-Small (<1000) to Medium schools (1000-2000) did much better at overall percent passing (90-91%) than Large schools (2000-5000) 58% overall percent passing.

In [423]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [424]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].unique()
school_count
v_school_count = sum(pd.value_counts(school_count))
print("Total Number of Unique Schools: " +  str(v_school_count))

Total Number of Unique Schools: 15

In [425]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].value_counts()
student_count = student_count.sum()
student_count
print("Total Number of Students: " +  str(student_count))

Total Number of Students: 39170

In [426]:
# Calculate the total budget / ?
total_budget = sum(school_data_complete['budget'].unique())
total_budget
total_budget2 = format(total_budget, ",")

print("Total Budget: $" +  str(total_budget2))

Total Budget: $24,649,428

In [427]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score = round(average_math_score,2)
print("Average math score: " +  str(average_math_score))

Average math score: 78.99

In [428]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score = round(average_reading_score,2)
average_reading_score
print("Average reading score: " +  str(average_reading_score))

Average reading score: 81.88

In [429]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage = round(passing_math_percentage,2)
print("Percent Passing Math: " +  str(passing_math_percentage)+"%")

Percent Passing Math: 74.98%

In [430]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete['reading_score']>= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage = round(passing_reading_percentage,2)
print("Percent Passing Reading: " +  str(passing_reading_percentage)+"%")

Percent Passing Reading: 85.81%

In [431]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate = round(overall_passing_rate,2)
print("Overall Passing Reading: " +  str(overall_passing_rate)+"%")

Overall Passing Reading: 65.17%

In [432]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_list = [[v_school_count, student_count, total_budget, 
                          average_math_score, average_reading_score, passing_math_percentage,
                          passing_reading_percentage,overall_passing_rate]]
#creating dataframe, naming columns
district_summary = pd.DataFrame(district_summary_list, columns = ['Total Schools',
                                                                  'Total Students', 'Total Budget',
                                                                  'Average Math Score', 'Average Reading Score',
                                                                  '% Passing Math', '% Passing Reading',
                                                                  '% Overall Passing'])
#formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [433]:
# Use the code provided to select all of the school types
school_types = school_data_complete['type'].unique()
school_types = school_types.tolist()
print("These are the two types of schools: " + str(school_types))

These are the two types of schools: ['District', 'Charter']

In [434]:
school_types2 = school_data_complete[['type','school_name']].value_counts()
#school_types2

In [435]:
# Calculate the total student count per school
per_school_counts = school_data_complete['school_name'].value_counts()
per_school_counts.index.name = ''
print("Total Student Count for each School" + str(per_school_counts))

Total Student Count for each School
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [436]:
#Finding budget for unique school
unique_budget = school_data_complete[['school_name','budget']].value_counts()
unique_budget2 = pd.DataFrame(unique_budget)
unique_budget2 = unique_budget2.drop('count', axis=1)
unique_budget2

Empty DataFrame
Columns: []
Index: [(Bailey High School, 3124928), (Johnson High School, 3094650), (Hernandez High School, 3022020), (Rodriguez High School, 2547363), (Figueroa High School, 1884411), (Huang High School, 1910635), (Ford High School, 1763916), (Wilson High School, 1319574), (Cabrera High School, 1081356), (Wright High School, 1049400), (Shelton High School, 1056600), (Thomas High School, 1043130), (Griffin High School, 917500), (Pena High School, 585858), (Holden High School, 248087)]

In [437]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete[['budget','school_name']].value_counts()
per_school_capital = per_school_budget.index.get_level_values('budget').unique()
cap_per = per_school_capital/school_data_complete['school_name'].value_counts()
cap_per.index.name = ''
print("Per capita spending per school" + str(cap_per))

Per capita spending per school
Bailey High School       628.0
Johnson High School      650.0
Hernandez High School    652.0
Rodriguez High School    637.0
Figueroa High School     639.0
Huang High School        655.0
Ford High School         644.0
Wilson High School       578.0
Cabrera High School      582.0
Wright High School       583.0
Shelton High School      600.0
Thomas High School       638.0
Griffin High School      625.0
Pena High School         609.0
Holden High School       581.0
dtype: float64

In [438]:
#Average Reading Score
per_school_reading = school_data_complete[['reading_score','school_name']]
per_school_reading = per_school_reading.groupby(['school_name']).mean()
per_school_reading

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [439]:
# Calculate the average math scores per school
per_school_math = school_data_complete[['math_score','school_name']]
per_school_math = per_school_math.groupby(['school_name']).mean()
per_school_math

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [440]:
#Changing column name for math and reading
df_per_school_reading = per_school_reading.rename(columns={'reading_score': 'Average Reading Score'})
df_per_school_math = per_school_math.rename(columns={'math_score': 'Average Math Score'})

In [441]:
# Calculate the number of students per school with math scores of 70 or higher
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = passing_math_count.value_counts(['school_name'])
school_students_passing_math

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: count, dtype: int64

In [442]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.value_counts(['school_name'])
school_students_passing_reading

school_name
Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: count, dtype: int64

In [443]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
#school_students_passing_math_and_reading

In [444]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math.values / per_school_counts.values * 100
per_school_passing_reading = school_students_passing_reading.values / per_school_counts.values * 100
overall_passing_rate = school_students_passing_math_and_reading.values / per_school_counts.values * 100

In [445]:
#converting Series to dataframe
#School Type
df_school_types2 = school_types2.reset_index(name='School Type')
df_school_types2.columns = ['School Type', 'school_name', 'count']
df_school_types2 = df_school_types2.drop('count', axis=1)

#Total Students
df_per_school_counts = per_school_counts.reset_index(name='Total Students')
df_per_school_counts.columns = ['school_name', 'Total Students']

#Total School Budget
df_per_school_capital = per_school_budget.reset_index(name='Total School Budget')
df_per_school_capital.columns = ['Total School Budget','school_name', 'count']
df_per_school_capital = df_per_school_capital.drop('count', axis=1)

#Budget Per Student
df_per_student_capital = cap_per.reset_index(name='Per Student Budget')
df_per_student_capital.columns = ['school_name', 'Per Student Budget']

#Passing Math Score
df_school_students_passing_math = school_students_passing_math.reset_index(name='% Passing Math')
df_school_students_passing_math.columns = ['school_name', '% Passing Math']

#Passing Reading Score
df_school_students_passing_reading = school_students_passing_reading.reset_index(name='% Passing Reading')
df_school_students_passing_reading.columns = ['school_name', '% Passing Reading']

#Overall Passing 
df_overall_passing_rate = school_students_passing_math_and_reading.reset_index(name='% Overall Passing')
df_overall_passing_rate.columns = ['school_name', '% Overall Passing']

# Merge DataFrames on the 'school_name' column
merged_df = pd.merge(df_school_types2, df_per_school_counts, on='school_name')
#merged_df = pd.merge(merged_df, df_per_school_counts, on='school_name')
merged_df = pd.merge(merged_df, df_per_school_capital, on='school_name')
merged_df = pd.merge(merged_df, df_per_student_capital, on='school_name')
merged_df = pd.merge(merged_df, df_per_school_math, on='school_name')
merged_df = pd.merge(merged_df, df_per_school_reading, on='school_name')
merged_df = pd.merge(merged_df, df_school_students_passing_math, on='school_name')
merged_df = pd.merge(merged_df, df_school_students_passing_reading, on='school_name')
merged_df = pd.merge(merged_df, df_overall_passing_rate, on='school_name')
#merged_df = pd.merge(merged_df, df_school_types2, on='school_name')
#merged_df['% Passing Math'] = school_students_passing_math.tolist()

#fixing % Passing
merged_df['% Passing Math'] = merged_df['% Passing Math'] / per_school_counts.values * 100
merged_df['% Passing Reading'] = merged_df['% Passing Reading'] / per_school_counts.values * 100
merged_df['% Overall Passing'] = merged_df['% Overall Passing'] / per_school_counts.values * 100

#convert object to string
#merged_df['school_name'] = merged_df['school_name'].sort(ascending=True)
print(type(merged_df['school_name']))
sorted_df = merged_df.sort_values(by=['school_name'])

# Display the merged DataFrame
sorted_df = sorted_df[['school_name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget',
                       'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
#print(sorted_df)

<class 'pandas.core.series.Series'>

In [446]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = per_school_summary = pd.DataFrame(sorted_df)
#Creating a copy for binning
school_spending_df = per_school_summary.copy()
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
per_school_summary.dropna(how='all')
per_school_summary = per_school_summary.rename(columns={"school_name": ''})
per_school_summary

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
8,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
4,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
6,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
12,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
2,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
14,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
5,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
1,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
13,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
3,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
10,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
11,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
7,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [447]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = sorted_df.sort_values(by='% Overall Passing',ascending=False)
top_schools["Total School Budget"] = top_schools["Total School Budget"].map("${:,.2f}".format)
top_schools["Per Student Budget"] = top_schools["Per Student Budget"].map("${:,.2f}".format)
top_schools= top_schools.rename(columns={"school_name":''})
top_schools.head(5)

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
8,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
11,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
12,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
7,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
13,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [448]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = sorted_df.sort_values(by='% Overall Passing',ascending=True)
bottom_schools["Total School Budget"] = bottom_schools["Total School Budget"].map("${:,.2f}".format)
bottom_schools["Per Student Budget"] = bottom_schools["Per Student Budget"].map("${:,.2f}".format)
bottom_schools= bottom_schools.rename(columns={"school_name":''})
bottom_schools.head(5)

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
3,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
4,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
5,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
2,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
1,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [449]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(['school_name']).mean(['math_score'])
tenth_grader_math_scores = tenth_graders.groupby(['school_name']).mean(['math_score'])
eleventh_grader_math_scores = eleventh_graders.groupby(['school_name']).mean(['math_score'])
twelfth_grader_math_scores = twelfth_graders.groupby(['school_name']).mean(['math_score'])

# # Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(ninth_grade_math_scores, tenth_grader_math_scores, on='school_name')
math_scores_by_grade2 = pd.merge(eleventh_grader_math_scores, twelfth_grader_math_scores, on='school_name')
math_scores_by_grade = pd.merge(math_scores_by_grade,math_scores_by_grade2, on='school_name')
math_scores_by_grade = math_scores_by_grade[['math_score_x_x', 'math_score_y_x', 'math_score_x_y', 'math_score_y_y']]
# # Minor data wrangling
math_scores_by_grade.index.name = None
math_scores_by_grade = math_scores_by_grade.rename(columns={"math_score_x_x": "9th", "math_score_y_x": "10th", "math_score_x_y": "11th", "math_score_y_y": "12th"})

# # Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [450]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name']).mean(['reading_score'])
tenth_grader_reading_scores = tenth_graders.groupby(['school_name']).mean(['reading_score'])
eleventh_grader_reading_scores = eleventh_graders.groupby(['school_name']).mean(['reading_score'])
twelfth_grader_reading_scores = twelfth_graders.groupby(['school_name']).mean(['reading_score'])

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.merge(ninth_grade_reading_scores, tenth_grader_reading_scores, on='school_name')
reading_scores_by_grade2 = pd.merge(eleventh_grader_reading_scores, twelfth_grader_reading_scores, on='school_name')
reading_scores_by_grade = pd.merge(reading_scores_by_grade,reading_scores_by_grade2, on='school_name')
reading_scores_by_grade = reading_scores_by_grade[['reading_score_x_x', 'reading_score_y_x', 'reading_score_x_y', 'reading_score_y_y']]


# Minor data wrangling
reading_scores_by_grade.index.name = None
reading_scores_by_grade = reading_scores_by_grade.rename(columns={"reading_score_x_x": "9th", "reading_score_y_x": "10th", "reading_score_x_y": "11th", "reading_score_y_y": "12th"})

# # Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [451]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels_range = ["<$585", "$585-630", "$630-645", "$645-680"]

In [452]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#school_spending_df = per_school_summary.copy()
#school_spending_df

In [453]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels_range)
school_spending_df["Total School Budget"] = school_spending_df["Total School Budget"].map("${:,.2f}".format)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map("${:,.2f}".format)
school_spending_df= school_spending_df.rename(columns={"school_name":''})
school_spending_df

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
8,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
4,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
6,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
12,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
2,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
14,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
5,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
1,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
13,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
3,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
10,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
11,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
7,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
9,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [454]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [455]:
# Assemble into DataFrame
spending_summary = pd.DataFrame([spending_math_scores, spending_reading_scores,spending_passing_math,spending_passing_reading, overall_passing_spending])
spending_summary = spending_summary.T
# Display results
spending_summary = round(spending_summary,2)
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

In [456]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [457]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels_size)
per_school_summary

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
8,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
4,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
6,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
12,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
2,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
14,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
5,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
1,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
13,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
3,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
10,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
11,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
7,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
9,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [458]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [459]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame([per_school_summary["School Size"], size_math_scores, size_reading_scores, size_passing_math, size_passing_reading, size_overall_passing])
size_summary = size_summary.transpose()
size_summary = size_summary.drop(columns=['School Size'])
size_summary = size_summary.dropna()
size_summary = size_summary.rename_axis('School Name')
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.79068,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [460]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [461]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame([average_math_score_by_type,average_reading_score_by_type,average_percent_passing_math_by_type,average_percent_passing_reading_by_type,average_percent_overall_passing_by_type])
type_summary = type_summary.T
type_summary = round(type_summary,2)
# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67